{% extends "myapp/base.html" %}
{% load rest_framework %}
{% block extrahead %}
<!-- <script src="//lab.subinsb.com/projects/jquery/voice/recorder.js"></script>
<script src="/static/js/jquery.voice.js"></script>
<script src="/static/js/record.js"></script>
 -->
<script src="/static/js/recorder.min.js"></script>
  <style type='text/css'>    
    #recorder_span{
        margin-bottom: 1em;        
    }
  </style>
<script>
{% if request.user.is_authenticated %}
var CheckTag = false;
var tag_list="";
var dataBlob= null;

var csrf = '{{ csrf_token }}'
$(document).ready(function(){
    $('#tag_string').keyup(function(e){
        var tag_list_before= document.getElementById('tag_string').value;
        var tag_list = tag_list_before.split('#');
        var tag_list_after= Array();
        var tagReg = /^[0-9|a-z|A-Z|가-힣|ㄱ-ㅎ|ㅏ-ㅣ|_|!|?]{1,10}$/u;
        var tagTest=true;
        CheckTag=true;
        //tag_list.trim()
        for(i=0;i<tag_list.length-1;i++){
            tag_list_after[i]=tag_list[i+1].trim();;
        }
        console.log(tag_list_after)
        for(i = 0; i < tag_list_after.length; i++){
            var tagString=String(tag_list_after[i]);
            tagTest=tagReg.test(tagString);
            //console.log(CheckTag+" : "+tagTest);
            CheckTag = CheckTag && tagTest;
        }
        //if CheckTag is false....!
        if(CheckTag){
            $('#result_rcmd_msg').html('가능한 태그입니다.');
        }
        else{
            $('#result_rcmd_msg').html('부적절한 태그형식 입니다. 태그형식은 #태그1 #태그2');
        }

        if(e.keyCode==32){
        var tag_list_send=tag_list;
        if(CheckTag){
            for(i=1; i<tag_list.length; i++){
                tag_list_send[i-1]= '#'+tag_list[i].trim();
            }
            tag_list_send.splice(tag_list.length-1,1);
            $.ajax({
                type:'POST',
                url : '/recommend/',
                data : {
                    'csrfmiddlewaretoken': csrf,
                    'flag' : 'tag',
                    'tag_list': tag_list_send,
                },
                success : function(result) {
                    var rcmd_list=result['recommend_tag_list'];
                    var rcmdHTML="";
                    for(i=0 ;i < rcmd_list.length;i++){
                        rcmdHTML+="<a class=\"ui  tag label\" onclick=\"addString('"+rcmd_list[i]+"')\">"+rcmd_list[i]+"</a>";
                    }
                    $('#result_rcmd_msg').html(rcmdHTML);
                    },
                error : function(error) {
                }
            });
        }};
    });
    $('#post_newform').submit(function(){
        if(CheckTag){
            return true;
        } else{
            alert("태그 형식 확인해주세요!");
            return false;
        }

    })
});
function addString(i){
    document.getElementById('tag_string').value+=i;
};
{% else %}
{% endif %}
</script>
{% if request.user.is_authenticated %}
{% else %}
<meta http-equiv="refresh" content="0; URL='../../../'" />
{% endif %}
{% endblock %}
<!--body-->
{% block body %}
    {% if request.user.is_authenticated %}
        <div id="recorder_span" style="text-align:center;">
            <div class="ui center aligned huge header" style="margin-left:28%;width: 40%;">
                <i class="ui unmute icon"></i>
                <div class="content">
                    Recorder
                    <div class="sub header">녹음은 필수 입니다.</div>
                </div>
            </div>  
            <button class="ui basic red button" id="init"><i class="ui rocket icon"></i>녹음기 켜기</button>
            <button class="ui basic red button" id="start" disabled><i class="ui selected radio icon"></i>녹음 시작</button>
            <button class="ui basic button" id="pause" disabled><i class="ui pause icon"></i>녹음 쉬기</button>
            <button class="ui basic button" id="resume" disabled><i class="ui repeat icon"></i>다시 시작</button>
            <button class="ui button" id="stopButton" disabled><i class="ui stop icon"></i>녹음 완료</button><br><br>
        </div>

        <div class="ui one column grid" id="recordingslist">
            <!--recorder here-->
        </div>
        
        <form class="ui form" action="{% url 'post-list' %}" method="POST" enctype="multipart/form-data" id="post_newform">
        {% csrf_token %}
        <div class="field">
            <label>Title </label>
            <div class="ui left icon input">
                <i class="hand pointer icon"></i>
                <input class="form-control" placeholder="제목을 입력해주세요!" type="text" name="title" id="title" required>
            </div>
        </div>
        <div class="field">
            <label>Words</label>
            <div class="ui left icon input">
                <i class="align left icon"></i>
                <input class="form-control" placeholder="하고싶은 이야기" row="2" type="text" name="text" id="text" required>
            </div>
        </div>
        <div class="field">
            <label>Tag </label>
            <div class="ui left icon input">
                <i class="tags icon"></i>
                <input class="form-control" placeholder="#" type="text" name="tag_string" id="tag_string" data-content="태그 형식은 '#태그1 #태그2 #태그3' 입니다.">
            </div>
            <br>
            <br>
            <div id="result_rcmd_msg"></div>
        </div>
        <div class="field">
            <label>ThumbNailAddr </label>
            <div class="ui left icon input">
                <i class="image icon"></i>
                <input type="file" name="thumbnail_addr" id="thumbnail_addr" accept="image/*" required>
            </div>
        </div>
        <!-- 그림파일 제한 걸어야함-->
<!--         <div class="field">
            <label>SoundFileAddr </label>
            <div class="ui left icon input">
                <i class="sound icon"></i>
                <input type="file" name="file_addr" id="file_addr" accept="audio/*" required="">
            </div>
        </div> -->
        
        <input type="text" name="base64" id="base64" hidden="true">
        <button class="ui right floated basic blue button" type="submit">Save</button>
    </form>
        <!--파일 업로드 기능은 deprecated 될 예정-->
        <!--음악 파일 제한 걸어야함-->
    <input id="monitorGain" type="number" value="0" hidden="true" />
    <input id="numberOfChannels" type="number" value="1" hidden="true"/>
    <input id="encoderSampleRate" type="number" value="48000" hidden="true"/>
    <input id="bitRate" type="number" value="64000" hidden="true"/>

  

  
  <script>
    var recorder;
    start.addEventListener( "click", function(){ recorder.start(); });
    pause.addEventListener( "click", function(){ recorder.pause(); });
    resume.addEventListener( "click", function(){ recorder.resume(); });
    stopButton.addEventListener( "click", function(){ recorder.stop(); });
    init.addEventListener( "click", function(){
      if (!Recorder.isRecordingSupported()) {
        return alert("Recording features are not supported in your browser.");
      }
      recorder = new Recorder({
        monitorGain: parseInt(monitorGain.value, 10),
        numberOfChannels: parseInt(numberOfChannels.value, 10),
        bitRate: parseInt(bitRate.value,10),
        encoderSampleRate: parseInt(encoderSampleRate.value,10),
        encoderPath: "../build/encoderWorker.min.js"
      });
      recorder.addEventListener( "start", function(e){
        init.disabled = start.disabled = resume.disabled = true;
        pause.disabled = stopButton.disabled = false;
      });
      recorder.addEventListener( "stop", function(e){
        init.disabled = false;
        pause.disabled = resume.disabled = stopButton.disabled = start.disabled = true;
      });
      recorder.addEventListener( "pause", function(e){
        init.disabled = pause.disabled = start.disabled = true;
        resume.disabled = stopButton.disabled = false;
      });
      recorder.addEventListener( "resume", function(e){
        init.disabled = start.disabled = resume.disabled = true;
        pause.disabled = stopButton.disabled = false;
      });
      recorder.addEventListener( "streamError", function(e){
      });
      recorder.addEventListener( "streamReady", function(e){
        init.disabled = pause.disabled = resume.disabled = stopButton.disabled = true;
        start.disabled = false;
      });
      recorder.addEventListener( "dataAvailable", function(e){
        dataBlob = new Blob( [e.detail], { type: 'audio/ogg' } );
        var fileName = new Date().toISOString() + ".ogg";
        var url = URL.createObjectURL( dataBlob );
        var audio = document.createElement('audio');
        audio.controls = true;
        audio.src = url;
        audio.id = 'audio_record';
        var link = document.createElement('a');
        link.href = url;
        link.download = fileName;
        link.innerHTML = link.download;
        

        var button = document.createElement('button');
        var t = document.createTextNode("이 음성 업로드하기");
        button.id = 'button';
        button.appendChild(t);
        button.onclick = function() {
            upload(dataBlob);  
        };

        var div_1 = document.createElement('div');
        div_1.id = 'link_div'
        div_1.appendChild(link);
        div_1.className = 'center aligned column';
        var div_2 = document.createElement('div');
        div_2.id ='audio_div'
        div_2.appendChild(audio);
        div_2.className = 'center aligned column';
        var div_3 = document.createElement('div');
        div_3.id = 'button_div';
        div_3.appendChild(button);
        div_3.className = 'center aligned column';

        $("#recordingslist").html("");
        var div_recording = document.getElementById("recordingslist");
        div_recording.appendChild(div_1);
        div_recording.appendChild(div_2);
        div_recording.appendChild(div_3);

        $('#button').attr('class','ui basic blue button');
        $('#audio_record').attr('style',"width: 70%; margin:auto; display:block;opacity:0.8;color:white;");
      });
      recorder.initStream();
    });
    function upload(blob){
      var base64;
      var reader = new window.FileReader();
      reader.readAsBinaryString(blob);
      reader.onloadend = function() {
        base64data = reader.result;
        base64 = base64data;
        console.log(blob);
        console.log(base64);
        base64 = window.btoa(base64);
        $("#base64").val(base64);
        $('#button').attr('disabled',true);
      };
    };
  </script>
    {% else %}
         <h1>You Are Not Allowed!</h1>
    {% endif %}
{% endblock %}
